  <div class='topbar-container'>
    <div class='top-bar'>
      <div class='frame-titulo'>
        <img
          id='iconoBarraSuperior'
          src='<%= rutaBase %>src/framework/utils/iconos/<%= Icono %>.svg'
          alt='Icono sección'
          style='width: 30px; height: 30px; margin-right: 10px;'
        />
        <div id='tituloBarraSuperior' class='texto-analisis'><%= Seccion %></div>
      </div>
    </div>
  </div>