<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Harvester App</title>
   <link href='<%= rutaBase %>src/framework/utils/css/interfaz/barraSuperior.css' rel='stylesheet' />
  <link href='<%= rutaBase %>src/framework/utils/css/interfaz/barraLateral.css' rel='stylesheet' />

</head>
<body>
  <div id='pantalla-bloqueo' class='pantalla-bloqueo oculto'>
  </div>
  <div class='formulas-brillante'>
    <div class='frame-10'>
        <div id='contenedorBarraLateral'> <%- include('barraLateral.ejs') %> </div>

      <div class='main-container'>
          <div id='contenedorBarraSuperior'> <%- include('barraSuperior.ejs') %> </div>
        <div class='content-container'>

          <div id='ventana-principal' class='ventana-principal'>