          </div>
        </div>
    </div>
    </div>
  </div>

  <script src='<%= rutaBase %>src/framework/utils/scripts/interfaz/barraLateral.js'></script>
  <script src='<%= rutaBase %>src/framework/utils/scripts/interfaz/framelayout.js'></script>
</body>
</html>