          </div>
        </div>
    </div>
    </div>
  </div>
  <script>
      const rutaBase = <%- JSON.stringify(rutaBase) %>;
  </script>
  <script src='<%= rutaBase %>src/framework/utils/scripts/interfaz/barraLateral.js'></script>
</body>
</html>