  <div class="topbar-container">
    <div class="top-bar">
      <button id="botonRegresar" class="frame-regresar">
        <img class="icono-regresar" src="<%= basePath %>/framework/utils/iconos/FlechaAtras.svg" alt="Flecha atrás" />
        <span class="texto-boton">Regresar</span>
      </button>
      <div class="frame-titulo">
        <img
          id="iconoBarraSuperior"
          src="<%= basePath %>/framework/utils/iconos/Casa.svg"
          alt="Icono sección"
          style="width: 30px; height: 30px; margin-right: 10px;"
        />
        <div id="tituloBarraSuperior" class="texto-analisis">Inicio</div>
      </div>
    </div>
  </div>