<link href='<%= rutaBase %>src/framework/vistas/includes/componentes/moleculas/grupoBotones/grupoBotones.css' rel='stylesheet'/>

<div class='grupo-botones <%= orientacion === "vertical" ? "grupo-vertical" : "grupo-horizontal" %>'>
    <% botones.forEach(boton => { %>
        <%- include('../../atomos/boton/boton.ejs', { 
            id: boton.id || '', 
            etiqueta: boton.etiqueta || '', 
            tipo: boton.tipo || '', 
            tamanio: boton.tamanio || '',
            colorTexto: boton.colorTexto || '',
        }) %>
    <% }) %>
</div>

<% /*
  Parámetros esperados:
  - orientacion: 'horizontal' (default) o 'vertical'
  - botones: array de objetos con propiedades para boton.ejs
*/ %>