<div class='titulo-texto'>
    <select class='tipo-texto'>
        <% opciones.forEach((elemento) => { %>
            <option value='<%= elemento %>'><%= elemento %></option>
        <% }) %>
    </select>
    <img class='type' src= '<%= icono %>' alt='Icono Texto' />
</div>