.state-collapsed,
.state-collapsed * {
  box-sizing: border-box;
}
.state-collapsed {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  height: 1080px;
  position: relative;
}
.side-bar-collapsed {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.iconos-alto {
  display: flex;
  flex-direction: column;
  gap: 63px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.menu {
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.menu-icono {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.navegadores {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.inicio {
  background: rgba(226, 226, 226, 0.33);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.home-icono {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.analisis {
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.bar-chart-icono {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.plantillas {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.clipboard-icono {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  position: relative;
  overflow: visible;
}
.funcion {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.funcion2 {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  position: relative;
  overflow: visible;
}
.envios {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  position: relative;
}
.mail {
  flex-shrink: 0;
  width: 25px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.iconos-bajo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.al-icono-usuario {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.al-usuario {
  display: flex;
  flex-direction: row;
  gap: 4.36px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  position: relative;
  overflow: visible;
}
.frame-41 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.tema {
  display: flex;
  flex-direction: row;
  gap: 4.49px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 38.59px;
  height: 35px;
  position: relative;
}
.ellipse-2 {
  border-radius: 50%;
  border-style: solid;
  border-color: #000000;
  border-width: 2.92px;
  flex-shrink: 0;
  width: 38.59px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.moon {
  flex-shrink: 0;
  width: 22.05px;
  height: 20px;
  position: relative;
  overflow: visible;
}
