.iniciar-sesion,
.iniciar-sesion * {
  box-sizing: border-box;
}
.iniciar-sesion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.barra-lateral {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.rectangulo-separacion {
  background: #a61930;
  align-self: stretch;
  flex-shrink: 0;
  width: 28px;
  position: relative;
}
.frame-iniciar-sesion {
  background: #262b40;
  padding: 0px 104px 0px 104px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 601px;
  position: relative;
}
.harvester {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.harvester2 {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.harvester3 {
  color: #000000;
  text-align: center;
  font-family: "SegoeUi-Regular", sans-serif;
  font-size: 52px;
  line-height: 100%;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iniciar-sesi-n {
  color: #ffffff;
  text-align: left;
  font-family: "SegoeUi-Regular", sans-serif;
  font-size: 32px;
  line-height: 100%;
  font-weight: 400;
  position: relative;
}
.acceso {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 293px;
  position: relative;
}
.acceder-con-tu-correo {
  color: #ffffff;
  text-align: center;
  font-family: "SegoeUi-Regular", sans-serif;
  font-size: 24px;
  line-height: 100%;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.correo {
  background: #e8e8e8;
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 4px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.e-g-john-doe-com {
  color: rgba(0, 0, 0, 0.33);
  text-align: center;
  font-family: "SegoeUi-Regular", sans-serif;
  font-size: 18px;
  line-height: 112%;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contrase-a {
  background: #e8e8e8;
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 4px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.contrase-a2 {
  color: rgba(0, 0, 0, 0.33);
  text-align: center;
  font-family: "SegoeUi-Regular", sans-serif;
  font-size: 18px;
  line-height: 112%;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boton-acceder {
  background: #1f4281;
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 2px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 140px;
  height: 55px;
  position: relative;
}
.acceder {
  color: #ffffff;
  text-align: center;
  font-family: "SegoeUi-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-tienes-cuenta-cont-ctanos {
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 23.314285278320312px;
  line-height: 100%;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-tienes-cuenta-cont-ctanos-span {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 23.314285278320312px;
  line-height: 100%;
  font-weight: 400;
}
.no-tienes-cuenta-cont-ctanos-span2 {
  color: #3a5bff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 23.314285278320312px;
  line-height: 100%;
  font-weight: 400;
  text-decoration: underline;
}
.no-tienes-cuenta-cont-ctanos-span3 {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 23.314285278320312px;
  line-height: 100%;
  font-weight: 400;
}
