.top-bar,
.top-bar * {
  box-sizing: border-box;
}
.top-bar {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.frame-regresar {
  background: #ffffff;
  border-radius: 9px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.icono-regresar {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.regresar {
  color: #000000;
  text-align: center;
  font-family: "SegoeUi-Regular", sans-serif;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: relative;
}
.frame-titulo {
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 72px;
  position: relative;
}
.icono-top-bar {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  position: relative;
  overflow: visible;
}
.an-lisis {
  color: #000000;
  text-align: center;
  font-family: "SegoeUi-Regular", sans-serif;
  font-size: 32px;
  line-height: 100%;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
