.frame-gestion-usuario,
.frame-gestion-usuario * {
  box-sizing: border-box;
}
.frame-gestion-usuario {
  background: #ffffff;
  border-radius: 8px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.frame-busqueda-usuario {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 600px;
  position: relative;
}
.frame-busqueda-usuario2 {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.formulario-busqueda-usuario {
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 455px;
  height: 73px;
  position: relative;
  overflow: hidden;
}
.texto-buscar-usuario {
  color: #000000;
  text-align: left;
  font-family: "SegoeUi-Regular", sans-serif;
  font-size: 32px;
  line-height: 112%;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: relative;
  width: 274px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nombre-de-la-f-rmula {
  color: #6d6c6c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 30px;
}
.busqueda-y-agregar-usuario {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.secundario {
  background: #e8e8e8;
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(38, 43, 64, 0.1);
  border-width: 4px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 394px;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  position: relative;
  overflow: visible;
}
.e-g-john-doe-com {
  color: rgba(0, 0, 0, 0.33);
  text-align: center;
  font-family: "SegoeUi-Regular", sans-serif;
  font-size: 18px;
  line-height: 112%;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primario {
  background: #a61930;
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 2px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 177px;
  height: 66px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.mas {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.agregar {
  color: #ffffff;
  text-align: center;
  font-family: "SegoeUi-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lista-usuarios {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-usuarios {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nombre-usuario {
  background: #ffffff;
  border-radius: 6.44px;
  border-style: solid;
  border-color: #000000;
  border-width: 1.61px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.texto-usuario {
  color: #000000;
  text-align: center;
  font-family: "SegoeUi-Regular", sans-serif;
  font-size: 18px;
  line-height: 112%;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editar {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 71px;
  height: 70px;
  position: relative;
}
.editar-icono {
  border-radius: 8px;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.eliminar {
  background: #a61930;
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.15);
  border-width: 2px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 71px;
  height: 70px;
  position: relative;
}
.eliminar-icono {
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  position: relative;
  overflow: visible;
}
.editar-icono2 {
  border-radius: 8px;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.eliminar-icono2 {
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  position: relative;
  overflow: visible;
}
.editar-icono3 {
  border-radius: 8px;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.eliminar-icono3 {
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  position: relative;
  overflow: visible;
}
.editar-icono4 {
  border-radius: 8px;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.eliminar-icono4 {
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  position: relative;
  overflow: visible;
}
.editar-icono5 {
  border-radius: 8px;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.eliminar-icono5 {
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  position: relative;
  overflow: visible;
}
.editar-icono6 {
  border-radius: 8px;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.eliminar-icono6 {
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  position: relative;
  overflow: visible;
}
