
<!-- <%- include('../componentes/atomos/boton/boton.ejs', { label: 'Enviar', type: 'primario', id: 'boton1' }) %> -->

<link href='boton.css' rel='stylesheet' />
<button id='<%- id %>' class='btn btn-<%= type %>'><%= label %></button>