<!-- include('../componentes/atomos/boton/boton.ejs', { etiqueta: 'Enviar', type: 'primario', id: 'boton1' }) -->

<link href='boton.css' rel='stylesheet' />
<button id='<%- id %>' class='btn btn-<%= type %>'><%= etiqueta %></button>