<!-- include('../componentes/atomos/boton/boton.ejs', { etiqueta: 'Enviar', type: 'primario', id: 'boton1' }) -->

<link href='<%= rutaBase %>src/framework/vistas/includes/componentes/atomos/boton/boton.css' rel='stylesheet' />
<button id='<%- id %>' class='btn btn-<%= type %>'><%= etiqueta %></button>
