.tarjeta{
    padding: 15px;
    align-items: center;
    display: flex;
    gap: 12px;
}

.tarjeta-blanco {
    background-color: #fafafa;
}

.tarjeta-gris {
    background-color: #ededed;
}

.tarjeta-azul {
    background-color: #262b40;
}

/* Orientación horizontal por defecto */
.tarjeta-horizontal {
    flex-direction: row;
  }
  
/* Orientación vertical */
.tarjeta-vertical {
    flex-direction: column;
    align-items: flex-start;
}