.contenedor-caja {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.contenedor-caja input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.contenedor-caja .marca {
  width: 20px;
  height: 20px;
  border: 3.5px solid #000;
  border-radius: 4px;
  display: inline-block;
  margin-right: 8px;
  position: relative;
}

.contenedor-caja.marcada .marca::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
