
<link href='<%= rutaBase %>src/framework/vistas/includes/componentes/atomos/cajaValidacion/cajaValidacion.css' rel='stylesheet' />

<% /* Componente de caja de verificación */ %>
<label class="contenedor-caja">
  <input
    type="checkbox"
    id="<%= id %>"
    name="<%= name || id %>"
    class="caja-personalizada"
  >
  <span class="marca"></span>
</label>
 <script src='<%= rutaBase %>src/framework/vistas/includes/componentes/atomos/cajaValidacion/cajaValidacion.js'></script>
