<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Cargando...</title>
    <link rel='stylesheet' href='<%= rutaBase %>src/framework/utils/css/pantallaCarga.css'>
</head>
<body> 
    <%- include('../includes/componentes/moleculas/contenedorDeFormula/contenedorDeFormulario.ejs', {
        rutaBase,
        textoSuperior: '¡Carga tu archivo para comenzar!',
        camposFormulario: [
            {
                label: 'Nombre completo',
                type: 'text',
                id: 'nombreTarjeta',
                name: 'nombreTarjeta',
                placeholder: 'Ingresa tu nombre completo',
                maxlength: '50',
                required: true,
                errorId: 'errorNombreTarjeta'
            },
            {
                label: 'Correo electrónico',
                type: 'email',
                id: 'correoTarjeta',
                name: 'correoTarjeta',
                placeholder: 'Ingresa tu correo',
                maxlength: '100',
                required: true,
                errorId: 'errorCorreoTarjeta'
            }
        ],
        botones: [
            { id: 'btnCancelar', etiqueta: 'Salir' },
            { id: 'btnSubir', etiqueta: 'Subir archivo' }
        ],
        espaciadoBotones: true,
        paddingTarjeta: 'tarjeta-padding-24',
        alineacionTextoSuperior: 'texto-centro'
    }) %>
</body>
</html>