<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Cargando...</title>
    <link rel='stylesheet' href='<%= rutaBase %>src/framework/utils/css/pantallaCarga.css'>
</head>
    <body>
        <%- include('../includes/componentes/moleculas/campoTextoFormulario/campoTextoFormulario.ejs', { 
            label: 'Nombre completo', 
            type: 'text', 
            id: 'nombre', 
            name: 'nombre', 
            placeholder: 'Ingresa tu nombre completo', 
            maxlength: '50', 
            required: true, 
            errorId: 'errorNombre' 
        }) 
        %>
    </body>
</html>