<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Cargando...</title>
    <link rel='stylesheet' href='<%= rutaBase %>src/framework/utils/css/pantallaCarga.css'>
</head>
    <body>
        <%- include('../includes/componentes/atomos/campoTexto/campoTexto.ejs', { 
        label: 'Nombre del usuario', 
        type: 'text', 
        id: 'username', 
        name: 'username', 
        placeholder: 'Nombre del nuevo usuario',
        maxlength: '55',
        required: true,
        errorId: 'mensajeErrorNombre'
        }) %>    
    </body>
</html>