<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Cargando...</title>
    <link rel='stylesheet' href='<%= rutaBase %>src/framework/utils/css/pantallaCarga.css'>
</head>
    <body>
        
        <!-- Botón agregado -->  
        <%- include('../includes/componentes/atomos/boton/boton.ejs', { 
            label: 'Enviar', 
            type: 'primario', 
            id: 'botonEnviar' 
        }) %>

        <%- include('../includes/componentes/atomos/campoTexto/campoTexto.ejs', { 
            label: 'Nombre del usuario', 
            type: 'text', 
            id: 'username',
            name: 'username', 
            placeholder: 'Nombre del nuevo usuario',
            maxlength: '55',
            required: true,
        }) %>
        
        <%- include('../includes/componentes/atomos/campoAreaTexto/campoAreatexto.ejs', {
            id: 'descripcion',
            name: 'descripcion',
            textoInterior: 'Escribe una descripción...',
            maxlength: '255',
            required: true
        }) %>

    </body>
</html>