.bloqueFormula { border: 1px solid #ccc; padding: 10px; margin: 10px 0; border-radius: 5px; background-color: #f9f9f9; }
        label, select, input { display: block; margin-top: 10px; }
        .argumentosContenedor { margin-left: 20px; }
        .argumento { margin-top: 5px; border: 1px dashed #ddd; padding: 10px; margin-bottom: 10px; }
        .argumentoEncabezado { display: flex; justify-content: space-between; align-items: center; }
        .argumentoContenido { margin-left: 10px; display: flex; flex-wrap: wrap; align-items: center; }
        .argumentoContenido > * { margin-right: 5px; margin-bottom: 5px; }
        button { margin-top: 10px; margin-right: 5px; }
        .botonEliminar { background-color: #f44336; color: white; border: none; padding: 5px 10px; text-align: center; text-decoration: none; display: inline-block; font-size: 12px; border-radius: 3px; cursor: pointer; }
        .resultado { margin-top: 20px; padding: 10px; background: #f2f2f2; border-radius: 5px; white-space: pre-wrap; }
        .selectorFuncionAnidada { margin-top: 5px; }


.contenido-vista,
.contenido-vista * {
  box-sizing: border-box;
}
.contenido-vista {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.lista {
  background: var(--box-light, #ffffff);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.buscar-y-agregar {
  padding: 10px 31px 10px 31px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.barra-busqueda {
  background: var(--box-textoporllenar, #e8e8e8);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--bordenegro, rgba(0, 0, 0, 0.2));
  border-width: 2px;
  padding: 17px 10px 17px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.nombre-de-la-f-rmula {
  color: var(--texto-porllenar, #9c9c9c);
  text-align: left;
  font-family: "SegoeUi-Regular", sans-serif;
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  position: relative;
  width: 176px;
}
.primario {
  background: #a61930;
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 2px;
  padding: 0px 7px 0px 7px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 55px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.mas {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.frame-listado-formulas {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.tabla-columnas {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nombre {
  color: var(--texto-light, #000000);
  text-align: center;
  font-family: "SegoeUi-Regular", sans-serif;
  font-size: 32px;
  line-height: 112%;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.par-metros {
  color: var(--texto-light, #000000);
  text-align: center;
  font-family: "SegoeUi-Regular", sans-serif;
  font-size: 32px;
  line-height: 112%;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-f-rmulas {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nombre-usuario {
  background: var(--background-light, #dbdce0);
  border-radius: 6.44px;
  border-style: solid;
  border-color: var(--texto-light, #000000);
  border-width: 1.61px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.texto-usuario {
  color: var(--texto-light, #000000);
  text-align: center;
  font-family: "SegoeUi-Regular", sans-serif;
  font-size: 18px;
  line-height: 112%;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editar {
  background: var(--blanco, #ffffff);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--negro, #000000);
  border-width: 2px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 71px;
  height: 70px;
  position: relative;
}
.editar-icono {
  border-radius: 8px;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.eliminar {
  background: var(--primario, #a61930);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--bordeblanco, rgba(255, 255, 255, 0.2));
  border-width: 2px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 71px;
  height: 70px;
  position: relative;
}
.eliminar-icono {
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  position: relative;
  overflow: visible;
}
.editar-icono2 {
  border-radius: 8px;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.eliminar-icono2 {
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  position: relative;
  overflow: visible;
}
.editar-icono3 {
  border-radius: 8px;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.eliminar-icono3 {
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  position: relative;
  overflow: visible;
}
.editar-icono4 {
  border-radius: 8px;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.eliminar-icono4 {
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  position: relative;
  overflow: visible;
}
