/* === Campo de búsqueda modular (átomo) === */
.campoBusqueda {
  flex: 1;
  padding: 1rem;
  background: #e8e8e8;
  border: 4px solid rgba(38,43,64,.1);
  border-radius: .5rem;
  font-size: 1.125rem;
  color: rgba(0,0,0,.8);
  font-family: Arial, sans-serif;
  outline: none;
}

.campoBusqueda::placeholder {
  color: rgba(0,0,0,.33);
  font-size: 1.125rem;
  font-family: Arial, sans-serif;
}